<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h2>save.html</h2>
  <form action="/member/save" method="post">
    이름: <input type="text" name="memberName">
    생년월일: <input type="date" name="memberBirth">
    이메일: <input type="email" name="memberEmail">
    전화번호: <input type="number" name="memberPhone">
    아이디: <input type="text" name="memberId">
    비밀번호: <input type="password" name="memberPassword">
    <input type="submit" value="회원가입">
  </form>
</body>
</html>